/* Common styles for the whole site */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Specific styles for the login page */
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #222;
    border-radius: 10px;
    color: #fff;
}

label, input {
    display: block;
    width: 100%;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

#error-msg {
    color: red;
    text-align: center;
}

/* Specific styles for the points table */
select {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #444;
}

th {
    background-color: #444;
}

.caps {
    display: flex;
    justify-content: space-around;
}

.cap {
    background-color: #222;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
}
